.question {
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    justify-content: center;

    &__post {
        width: 800px;
        background-color: white;
        margin-top: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 24px 21px;
        &-create {
            padding: 20px 8px;
        }
        &-username {
            font-weight: 500;
            color: dodgerblue;
            font-size: 1.3rem;
        }
        &-time {
            font-style: italic;
            font-weight: 300;
            font-size: 0.88rem;
            padding-left: 8px;
        }
        &-content {
            padding: 10px 30px;
        }
        &-title {
            font-weight: 500;
            font-size: 1.2rem;
            margin-bottom: 20px;
            span {
                color: green;
            }
        }
        &-description {
            font-size: 1.08rem;
        }
        hr {
            display: block;
            margin: 30px auto;
            border-style: inset;
            border-width: 1px;
        }
        &-answers {
            padding: 12px 10px;
        }
    }
    .form {
        margin: 20px auto;
        button {
            padding: 10px auto;
            margin: 15px 0;
            width: 100%;
        }
    }
}
