
.register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);

    height: 100vh;
    font-family: "Segoe UI",Tahoma,Verdana,sans-serif;
    &__form {
        background-color: #f5f5f5;
        padding: 1rem 1.2rem;
        -webkit-box-shadow: 4px 4px 12px rgba(0,0,0, .2);
                box-shadow: 4px 4px 12px rgba(0,0,0, .2);
        border-radius: 1rem;
        text-shadow: .4px .4px 5px rgba(0,0,0, .2);
        width: 320px;
        h2 {
            text-align: center;
            font-size: larger;
            font-weight: 400;
            color: dodgerblue;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }
        button {
            background-color: dodgerblue;
            padding: 1rem 1rem;
            border: none;
            outline: none;
            color: white;
            border-radius: 1.7rem;
            width: 100%;
            font-size: 1.25rem;
            cursor: pointer;
        }
    }
    &__field {
        margin: 2rem 0;
        position: relative;
        background-color: #f5f5f5;
        input {
            display: block;
            margin: 50px auto;
            border: none;
            border-bottom: 1px solid dodgerblue;
            background-color: #f5f5f5;
            font-size: 1.2rem;
            outline: none;
            padding: 6px 4px;
            &:focus + label, &:valid + label {
                top: -24px;
                left: 2.5px;
                font-size: 1.2rem;
                color: dodgerblue;
            }
            width: 100%;
        }
        label {
            position: absolute;
            left: 4px;
            top: 4px;
            font-weight: 400;
            pointer-events: none;
            color: gray;
            -webkit-transition: 200ms ease;
            -o-transition: 200ms ease;
            transition: 200ms ease;
            font-size: 1.4rem;
        }
    }
}