html {
    background-color: #f5f5f5;
}

.add-question {
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    justify-content: center;
    &__form {
        width: 800px;
        background-color: white;
        margin-top: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 22px 18px;
        h2 {
            margin-top: 15px;
            margin-bottom: 30px;
            text-align: center;
            pointer-events: none;
            font-weight: 450;
            color: dodgerblue;
        }
    }
}