header {
    width: 100%;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    position: fixed;
    box-shadow: 0px 4px rgba(0, 0, 0, .4);
    z-index: 99;
    top: 0;
    &__logo {
        img {
            width: 100px;
            height: 80px;
        }
    }
    &__auth {
        display:flex;
        align-items: center;
        &--btn {
            margin: 0 12px;
        }
    }
}
