.list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    flex-direction: column;
    padding-top: 170px;
    &__question {
        height: 60px;
        width: 100%;
        margin-bottom: 20px;
        width: 500px;
        a:link,
        a:visited {
            background-color: white;
            color: black;
            border: 2px solid green;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        a:hover,
        a:active {
            background-color: green;
            color: white;
        }
    }
}
