.list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    flex-direction: column;
    &__question {
        margin-bottom: 20px;
        width: 500px;
        a:link,
        a:visited {
            background-color: white;
            color: black;
            border: 2px solid dodgerblue;
            padding: 5px 20px;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        a:hover,
        a:active {
            background-color: dodgerblue;
            color: white;
        }
        &-title {
            font-weight: 500;
            font-size: 1.3rem;
        }
        &-time {
            font-style: italic;
            font-size: 0.88rem;
            font-weight: 320;
        }
    }
    &__dropdown {
        margin-top: 160px;
        margin-bottom: 50px;
        width: 840px;
    }
}
